:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #16171f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, [id="app"] {
  width: 100%;
  height: 100%;
}

.font-family-aurebesh {
  font-family: 'Aurebesh';
  text-shadow: 0px 0px 5px rgba(255,255,255,0.6);
}

/* Aurebesh Bold Italic */
@font-face {
  font-family: 'Aurebesh';
  src: url('assets/fonts/Aurebesh Bold Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

/* Aurebesh Condensed Bold */
@font-face {
  font-family: 'Aurebesh-Condensed';
  src: url('assets/aurebesh/Aurebesh Condensed Bold.otf') format('opentype');
  font-weight: bold;
}

/* Aurebesh Italic */
@font-face {
  font-family: 'Aurebesh';
  src: url('assets/aurebesh/Aurebesh Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Aurebesh Bold */
@font-face {
  font-family: 'Aurebesh';
  src: url('assets/aurebesh/Aurebesh Bold.otf') format('opentype');
  font-weight: bold;
}

/* Aurebesh Condensed Italic */
@font-face {
  font-family: 'Aurebesh-Condensed';
  src: url('assets/aurebesh/Aurebesh Condensed Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Aurebesh Regular */
@font-face {
  font-family: 'Aurebesh';
  src: url('assets/aurebesh/Aurebesh.otf') format('opentype');
  font-weight: normal;
}

/* Aurebesh Condensed Bold Italic */
@font-face {
  font-family: 'Aurebesh-Condensed';
  src: url('assets/aurebesh/Aurebesh Condensed Bold Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

/* Aurebesh Condensed Regular */
@font-face {
  font-family: 'Aurebesh-Condensed';
  src: url('assets/aurebesh/Aurebesh Condensed.otf') format('opentype');
  font-weight: normal;
}
